
                {%- for action in record_actions %}

                    <a class="button small finance-fg-color" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity."~ identifier ~" }) }}" }}">{{ action }}
                        <i class="icon-location finance-fg-color on-left"></i>
                    </a>

                {%- endfor %}
