{% if ('edit' in actions) and (not hide_edit) %}
    <a class="button" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity."~ identifier ~" }) }}" }}">
        <i class="icon-pencil on-right"></i>
        &nbsp;{{ "{%- trans %}" }}common.edit{{ "{%- endtrans %}" }}
    </a>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
    {{ '{{ form(delete_form) }}' }}
{% endif %}
