<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% trans %}application.title{% endtrans %}{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="metro finance-body">
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts 'js/*' %}
                 <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
