/* 
    Created on : Apr 6, 2015, 4:30:35 PM
    Author     : esilverio
*/

@finance-background-color: #222222;
@finance-color: #60a917;
@finance-color-dark: #008a00;
@finance-font-color: #000000;
@finance-font-color-negative: #ffffff;
@finance-white: #ffffff;
@finance-black: #000000;

/* BODY */
.finance-body {
    background-color: @finance-background-color !important;
}

/* LOGIN */
.finance-login {
    border: 1px @finance-color-dark solid;
    height: 200px; 
    left: 50%; 
    margin:-100px 0 0 -200px;
    padding: 38px 40px 30px 40px;
    position: absolute; 
    top: 50%; 
    width: 400px;
}
.finance-login-icon {
    background-color: @finance-color-dark;
    color: @finance-font-color-negative;
    float: left;
    height: 34px;
    padding-left: 10px;
    padding-top: 6px;
    width: 34px;
}
.finance-login-control {
    float: left;
    width: 284px !important;
}
.finance-login-submit {
    background-color: @finance-color !important;
    color: @finance-font-color-negative !important;
    float: left;
    height: 34px;
    width: 284px !important;
}

/* FORMS */
.finance-form {
    left: 50%;
    margin: 50px 0 0 -512px;
    position: absolute; 
    width: 1024px;
}
blockquote.finance-title {
    border-left: 4px @finance-color-dark solid;
    
    h1 {
        color: @finance-color;
        padding-bottom: 3px;
    }
}

/* BASIC ELEMENTS */
.all-caps {
    font-variant: small-caps;
}

/* PAGE ELEMENTS */
#stock_chart_area {
    float: right;
    width: 80%;
}
#chartdiv {
	width	: 100%;
	height	: 100%;
}

/*BUTTONS */
.metro {
    @import "metro-buttons.less";
    @import "metro-forms.less";
    @import "metro-pagination.less";
    @import "metro-tables.less";
    @import "metro-tiles.less";
}