.tile {
    .brand, .tile-status {
        .badge-1 {
            position: absolute;
            bottom: 0;
            right: 10px;
            width: 5px;
            height: 15px;
            text-align: center;
            color: @finance-white;
            margin: 0;
            vertical-align: middle !important;
            display: block;
            font-size: 10pt;
        }
        .badge-2 {
            position: absolute;
            bottom: 0;
            right: 15px;
            width: 5px;
            height: 15px;
            text-align: center;
            color: @finance-white;
            margin: 0;
            vertical-align: middle !important;
            display: block;
            font-size: 10pt;
        }
        .badge-3 {
            position: absolute;
            bottom: 0;
            right: 20px;
            width: 5px;
            height: 15px;
            text-align: center;
            color: @finance-white;
            margin: 0;
            vertical-align: middle !important;
            display: block;
            font-size: 10pt;
        }
        .badge-4 {
            position: absolute;
            bottom: 0;
            right: 25px;
            width: 5px;
            height: 15px;
            text-align: center;
            color: @finance-white;
            margin: 0;
            vertical-align: middle !important;
            display: block;
            font-size: 10pt;
        }
        .badge-5 {
            position: absolute;
            bottom: 0;
            right: 30px;
            width: 5px;
            height: 15px;
            text-align: center;
            color: @finance-white;
            margin: 0;
            vertical-align: middle !important;
            display: block;
            font-size: 10pt;
        }
    }
}
