table {
    background-color: lighten(@finance-background-color, 5%);
}

.table {
    &.hovered {
        //border-collapse: separate;
        tbody {
            tr {
                &:hover {
                    background-color: @finance-color-dark;
                    td:first-child {
                        //border-left: 1px #1c98cc solid ;
                    }
                    td:last-child {
                        //border-right: 1px #1c98cc solid ;
                    }
                    td {
                        //border-top: 1px #1c98cc solid ;
                        //border-bottom: 1px #1c98cc solid;
                    }
                }
            }
        }
    }
}