.pagination {

    & > ul {

        li {
            
            &.active {
                a {
                    background-color: @finance-color-dark;
                }
            }
        }
    }
}
