{% extends '::base.html.twig' %}

{% block body -%}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{% trans %}country.title{% endtrans %}</h1>
    </blockquote>

    <div class="toolbar transparent">
        {{ form(form) }}
                
        <a class="button" href="{{ path('es_finance_countries')  }}">
            <i class="icon-undo"></i>
            {% trans %}common.back{% endtrans %}
        </a>
    </div>
</div>
{% endblock %}
