{% extends '::base.html.twig' %}

{% block body -%}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{% trans %}stockpurchase.title{% endtrans %}</h1>
    </blockquote>
    <table class="table hovered">
        <thead>
            <tr>                
                <th>{%- trans %}date{%- endtrans %}</th>                
                <th>{%- trans %}quantity{%- endtrans %}</th>                
                <th>{%- trans %}symbol{%- endtrans %}</th>                
                <th>{%- trans %}stock{%- endtrans %}</th>                
                <th>{%- trans %}originaltotal{%- endtrans %}</th>              
                <th>{%- trans %}hometotal{%- endtrans %}</th>                
                <th>{%- trans %}common.actions{%- endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>               
                <td class="text-center">{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>            
                <td class="text-center">{{ entity.quantity }}</td>
                <td class="text-center">{{ entity.stock.symbol }}</td>
                <td>{{ entity.stock.companyName }}</td>
                <td class="text-right">{{ entity.originalTotal|number_format(2, ',', '.') }} {{ entity.originalCoin.symbol }}</td>           
                <td class="text-right">{{ entity.homeTotal|number_format(2, ',', '.') }} {{ entity.homeCoin.symbol }}</td>            
                <td class="text-center">
                    <a class="button small finance-fg-color" href="{{ path('es_finance_stockspurchases_edit', { 'id': entity.id }) }}">
                        <i class="icon-pencil finance-fg-color on-left"></i>
                        {%- trans %}common.edit{%- endtrans %}
                    </a>
                    <a class="button small finance-fg-color" href="{{ path('es_finance_stockspurchases_show', { 'id': entity.id }) }}">
                        <i class="icon-eye-2 finance-fg-color on-left"></i>
                        {%- trans %}common.show{%- endtrans %}
                    </a>
                </td>        
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="toolbar transparent">
                <a class="button" href="{{ path('es_finance_stockspurchases_new') }}">
            <i class="icon-new on-right"></i>
            &nbsp;{%- trans %}common.new{%- endtrans %}
        </a>
                <a class="button" href="{{ path('es_finance_ui_homepage') }}">
            <i class="icon-undo on-right"></i>
            &nbsp;{%- trans %}common.back{%- endtrans %}
        </a>
    </div>
    {{ knp_pagination_render(entities) }}
</div>
{% endblock %}
