{% extends '::base.html.twig' %}

{% block body -%}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{% trans %}market.title{% endtrans %}</h1>
    </blockquote>
    <table class="table hovered">
        <thead>
            <tr>                
                <th>{%- trans %}name{%- endtrans %}</th>                
                <th>{%- trans %}common.actions{%- endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>            
                <td>{{ entity.name }}</td>            
                <td class="text-center">
                    <a class="button small finance-fg-color" href="{{ path('es_finance_markets_edit', { 'id': entity.id }) }}">
                        <i class="icon-pencil finance-fg-color on-left"></i>
                        {%- trans %}common.edit{%- endtrans %}
                    </a>
                    <a class="button small finance-fg-color" href="{{ path('es_finance_markets_show', { 'id': entity.id }) }}">
                        <i class="icon-eye-2 finance-fg-color on-left"></i>
                        {%- trans %}common.show{%- endtrans %}
                    </a>
                </td>        
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="toolbar transparent">
                <a class="button" href="{{ path('es_finance_markets_new') }}">
            <i class="icon-new on-right"></i>
            &nbsp;{%- trans %}common.new{%- endtrans %}
        </a>
                <a class="button" href="{{ path('es_finance_ui_homepage') }}">
            <i class="icon-undo on-right"></i>
            &nbsp;{%- trans %}common.back{%- endtrans %}
        </a>
    </div>
</div>
{% endblock %}
