{% extends '::base.html.twig' %}

{% block body -%}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{% trans %}market.title{% endtrans %}</h1>
    </blockquote>

    <table class="table hovered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>
    <div class="toolbar transparent">
    <a class="button" href="{{ path('es_finance_markets_edit', { 'id': entity.id }) }}">
        <i class="icon-pencil on-right"></i>
        &nbsp;{%- trans %}common.edit{%- endtrans %}
    </a>
    {{ form(delete_form) }}
    <a class="button" href="{{ path('es_finance_markets')  }}">
        <i class="icon-undo"></i>
        {% trans %}common.back{% endtrans %}
    </a>
    </div>
</div>
{% endblock %}
