{% extends '::base.html.twig' %}

{% block body -%}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{% trans %}stocksale.title{% endtrans %}</h1>
    </blockquote>
    <table class="table hovered">
        <thead>
            <tr>                
                <th>{%- trans %}date{%- endtrans %}</th>                
                <th>{%- trans %}quantity{%- endtrans %}</th>                
                <th>{%- trans %}originalunitprice{%- endtrans %}</th>                
                <th>{%- trans %}originalexpenses{%- endtrans %}</th>                
                <th>{%- trans %}originaltotal{%- endtrans %}</th>                
                <th>{%- trans %}exchangerate{%- endtrans %}</th>                
                <th>{%- trans %}homeunitprice{%- endtrans %}</th>                
                <th>{%- trans %}homeexpenses{%- endtrans %}</th>                
                <th>{%- trans %}hometotal{%- endtrans %}</th>                
                <th>{%- trans %}common.actions{%- endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>               
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>            
                <td>{{ entity.quantity }}</td>            
                <td>{{ entity.originalUnitPrice }}</td>            
                <td>{{ entity.originalExpenses }}</td>            
                <td>{{ entity.originalTotal }}</td>            
                <td>{{ entity.exchangeRate }}</td>            
                <td>{{ entity.homeUnitPrice }}</td>            
                <td>{{ entity.homeExpenses }}</td>            
                <td>{{ entity.homeTotal }}</td>            
                <td class="text-center">
                    <a class="button small finance-fg-color" href="{{ path('es_finance_stockssales_edit', { 'id': entity.id }) }}">
                        <i class="icon-pencil finance-fg-color on-left"></i>
                        {%- trans %}common.edit{%- endtrans %}
                    </a>
                    <a class="button small finance-fg-color" href="{{ path('es_finance_stockssales_show', { 'id': entity.id }) }}">
                        <i class="icon-eye-2 finance-fg-color on-left"></i>
                        {%- trans %}common.show{%- endtrans %}
                    </a>
                </td>        
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="toolbar transparent">
                <a class="button" href="{{ path('es_finance_stockssales_new') }}">
            <i class="icon-new on-right"></i>
            &nbsp;{%- trans %}common.new{%- endtrans %}
        </a>
                <a class="button" href="{{ path('es_finance_ui_homepage') }}">
            <i class="icon-undo on-right"></i>
            &nbsp;{%- trans %}common.back{%- endtrans %}
        </a>
    </div>
</div>
{% endblock %}
