{% extends '::base.html.twig' %}

{% block body -%}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{% trans %}stocksale.title{% endtrans %}</h1>
    </blockquote>

    <table class="table hovered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
            <tr>
                <th>Originalunitprice</th>
                <td>{{ entity.originalUnitPrice }}</td>
            </tr>
            <tr>
                <th>Originalexpenses</th>
                <td>{{ entity.originalExpenses }}</td>
            </tr>
            <tr>
                <th>Originaltotal</th>
                <td>{{ entity.originalTotal }}</td>
            </tr>
            <tr>
                <th>Exchangerate</th>
                <td>{{ entity.exchangeRate }}</td>
            </tr>
            <tr>
                <th>Homeunitprice</th>
                <td>{{ entity.homeUnitPrice }}</td>
            </tr>
            <tr>
                <th>Homeexpenses</th>
                <td>{{ entity.homeExpenses }}</td>
            </tr>
            <tr>
                <th>Hometotal</th>
                <td>{{ entity.homeTotal }}</td>
            </tr>
        </tbody>
    </table>
    <div class="toolbar transparent">
    <a class="button" href="{{ path('es_finance_stockssales_edit', { 'id': entity.id }) }}">
        <i class="icon-pencil on-right"></i>
        &nbsp;{%- trans %}common.edit{%- endtrans %}
    </a>
    {{ form(delete_form) }}
    <a class="button" href="{{ path('es_finance_stockssales')  }}">
        <i class="icon-undo"></i>
        {% trans %}common.back{% endtrans %}
    </a>
    </div>
</div>
{% endblock %}
