{% extends "::base.html.twig" %}
{% block title %}{% endblock %}

{% block body %}
<div class="tile-area tile-area-dark">
    <h1 class="tile-area-title fg-white">ES Finance</h1>
    {% for menu_group in menu_groups %}
    <div class="tile-group {{menu_group.size}}">
        <div class="tile-group-title">{{menu_group.title|trans}}</div>
        {{ render(controller('ESFinanceUIBundle:Default:renderMenu', { 'menu_group_id': menu_group.id })) }}
    </div>
    {% endfor %}
</div>
{% endblock %}
