{% extends "::base.html.twig" %}
{% block title %}{% endblock %}

{% block body %}
<div class="finance-login">
    <form action="{{ path('es_finance_ui_security_check') }}" method="post">
        <div>
            <div class="finance-login-icon">
                <i class="icon-user-2"></i>
            </div>
            <div class="finance-login-control input-control text">
                <input type="text" id="username" name="_username" required="required" value="" placeholder="{% trans %}login.username_tooltip{% endtrans %}" />
                <button class="btn-clear"></button>
            </div>
        </div>
        <div>
            <div class="finance-login-icon">
                <i class="icon-key"></i>
            </div>
            <div class="finance-login-control input-control password">
                <input type="password" id="password" name="_password" required="required" value="" placeholder="{% trans %}login.password_tooltip{% endtrans %}" />
                <button class="btn-reveal"></button>
            </div>
        </div>
        <div>
            <div class="finance-login-icon">
                <i class="icon-locked-2"></i>
            </div>
            <div class="">
                <button class="finance-login-submit image-left" type="submit">
                    {% trans %}login.start{% endtrans %}
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
