{% for menu in menus %}
<div class="tile {{menu.style}}" data-click="transform">
    {% if menu.route %}
    <a href="{{path(menu.route)}}">
    {% else %}
    <a href="#">
    {% endif %}
        <div class="tile-content icon">
            <i class="{{menu.icon}}"></i>
        </div>
        <div class="tile-status ">
            <span class="name">{{menu.title|trans}}</span>
        </div>
    </a>
</div>
{% endfor %}
