{% extends '::base.html.twig' %}

{% block body -%}
<div class="bg-white tile-area tile-area-dark">
    <div id="chartdiv1" style="height: 300px; width: 50%;"></div>
    <div id="chartdiv2" style="height: 500px; width: 50%;"></div>
</div>
{% endblock %}

{% block javascripts -%}
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>

<script type="text/javascript">
    var chart1 = AmCharts.makeChart( "chartdiv1", 
    {
        "type": "pie",
        "theme": "none",
        "dataProvider": [
        {% for sector in sectors %}
        {
          "sector": "{{ sector.name }}",
          "quantity": {{ sector.quantity }}
        },
        {% endfor %}
        ],
        "valueField": "quantity",
        "titleField": "sector",
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
        "export": {
            "enabled": true
        }
    } );
    
    var chart2 = AmCharts.makeChart( "chartdiv2", 
    {
        "type": "pie",
        "theme": "none",
        "dataProvider": [
        {% for industry in industries %}
        {
          "industry": "{{ industry.name }}",
          "quantity": {{ industry.quantity }}
        },
        {% endfor %}
        ],
        "valueField": "quantity",
        "titleField": "industry",
        "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
        "export": {
            "enabled": true
        }
    } );
</script>
{% endblock %}