{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div class="pagination mini">
    <ul>
    {% if first is defined and current != first %}
        <li class="first">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"><i class="icon-first-2"></i></a>
        </li>
    {% endif %}

    {% if previous is defined %}
        <li class="prev">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="icon-previous"></i></a>
        </li>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="active"><a>{{ page }}</a></li>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <li class="next">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="icon-next"></i></a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="last">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"><i class="icon-last-2"></i></a>
        </li>
    {% endif %}
    </ul>
</div>
{% endif %}
