{# button #}
{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    
    {% set icon = '' %}
    
    <button {{ block('button_attributes') }} type="{{ type|default('button') }}">
        <i class="{{ attr['icon'] }}"></i>
        {{ label|trans({}, translation_domain) }}
    </button>
{% endspaceless %}
{% endblock button_widget %}

{# select #}
{%- block choice_widget -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
    <div class="input-control select" {{ block('widget_container_attributes') }}>
        {{- block('choice_widget_collapsed') -}}
    </div>
    {% endif %}
{%- endblock choice_widget -%}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
        {{- form_widget(child) -}}
        {{- form_label(child) -}}
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{# form_widget_simple #}
{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{# number #}
{% block number_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <div class="input-control {{ type }}">
    {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock number_widget %}

{# integer #}
{% block integer_widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    <div class="input-control {{ type }}">
    {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock integer_widget %}

{# label #}
{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}&nbsp;</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# textbox #}
{% block text_widget %}
{% spaceless %}
    <div class="input-control text">
        <input type="text" {{ block('widget_attributes') }} value="{{ value }}" />
        <button class="btn-clear"></button>
    </div>
{% endspaceless %}
{% endblock %}

{# datapicker #}
{% block datePicker_widget %}
    {% spaceless %}
        <div class="input-control text" 
             {% if value is not empty %}data-date="{{ value }}" {% endif %}
             data-effect='fade'
             data-format='yyyy-mm-dd'
             data-locale='pt'
             data-other-days='1'
             data-role="datepicker"
             data-week-start='1'
             >
             <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
             <button class="btn-date"></button>
        </div>
    {% endspaceless %}
{% endblock datePicker_widget %}

{# checkbox #}
{% block checkbox_widget %}
{% spaceless %}
<div class="input-control checkbox">
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <span class="check"></span>
</div>
{% endspaceless %}
{% endblock checkbox_widget %}