{% extends '::base.html.twig' %}

{% block body -%}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{% trans %}coin.title{% endtrans %}</h1>
    </blockquote>

    <div class="toolbar transparent">
        {{ form(edit_form) }}
                    {{ form(delete_form) }}

        <a class="button" href="{{ path('es_finance_coins')  }}">
            <i class="icon-undo"></i>
            {% trans %}common.back{% endtrans %}
        </a>
    </div>
</div>
{% endblock %}
