date,open,close,high,low,volume
{% for entity in entities %}
{{ entity.date|date('Y-m-d') }},{{ entity.open|number_format(2, '.', ',') }},{{ entity.close|number_format(2, '.', ',') }},{{ entity.high|number_format(2, '.', ',') }},{{ entity.low|number_format(2, '.', ',') }},{{ entity.volume|number_format(0, '', '') }}
{% endfor %}