{% extends '::base.html.twig' %}

{% block body -%}
<div class="tile-area tile-area-dark">
    {% for entity in entities %}
    {{ render(controller('ESFinanceBackOfficeBundle:MyStocks:stockStatus', { 'stock_id': entity.id })) }}
    {% endfor %}
</div>
{% endblock %}