{% extends '::base.html.twig' %}

{% block body -%}

<div class="bg-white tile-area tile-area-dark">
    <div class="left" style="float: left; width: 20%;">
        <div class="grid">
        <div class="row">
            <div class="span1">{{ entity.symbol }}</div>
            <div class="span3">{{ entity.companyName }}</div>
        </div>
    </div>
    </div>
    <div class="right" style="float: right; height: 100%; width: 80%;">
        <div style="padding-bottom:5px;">
            <input type="button" class="amChartsButton" id="addPanelButton" value="add panel">
            <input type="button" class="amChartsButton" disabled="true" id="removePanelButton" value="remove panel">
        </div>
        <div id="chartdiv"></div>
    </div>
</div>
{% endblock %}

{% block javascripts -%}
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amstock.js"></script>

<script type="text/javascript">
    AmCharts.ready( function() {
        loadChartData();
        loadChartEvents();
        createStockChart();
        
        document.getElementById( "addPanelButton" ).onclick = function() {
          addPanel();
        }
        document.getElementById( "removePanelButton" ).onclick = function() {
          removePanel();
        }
    });
    
    var chart;
    var chartData = [];
    var chartEvents = [];
    var newPanel;
    var stockPanel;
    
    function loadChartData() {
        {% for stock_price in stock_prices %}
        chartData.push({ date: new Date( {{ stock_price.date|date('Y') }}, {{ stock_price.date|date('m') - 1 }}, {{ stock_price.date|date('d') }} ),
                         open: {{ stock_price.open }},
                         close: {{ stock_price.close }},
                         high: {{ stock_price.high }},
                         low: {{ stock_price.low }},
                         volume: {{ stock_price.volume }},
                         value: {{ stock_price.close }}
                       });
        {% endfor %}
    }
    
    function loadChartEvents() {
        {% for stock_event in stock_events %}
        chartEvents.push({ date: new Date( {{ stock_event.date|date('Y') }}, {{ stock_event.date|date('m') - 1 }}, {{ stock_event.date|date('d') }} ),
                           type: {% if stock_event.bearish %}"arrowDown"{% endif %}{% if stock_event.bullish %}"arrowUp"{% endif %},
                           backgroundColor: {% if stock_event.bearish %}"#CC0000"{% endif %}{% if stock_event.bullish %}"#00CC00"{% endif %},
                           graph: "g1",
                           text: "{{ stock_event.stockEventType.stockEventGroup.name }}",
                           description: "{{ stock_event.stockEventType.name }}"
                         });
        {% endfor %}
    }  
    
    function createStockChart() {
        chart = new AmCharts.AmStockChart();
        chart.pathToImages = "http://www.amcharts.com/lib/3/images/";

        chart.balloon.horizontalPadding = 13;

        var dataSet = new AmCharts.DataSet();
        dataSet.fieldMappings = [ {
            fromField: "open",
            toField: "open" 
        }, {
            fromField: "close",
            toField: "close"
        }, {
            fromField: "high",
            toField: "high"
        }, {
            fromField: "low",
            toField: "low"
        }, {
            fromField: "volume",
            toField: "volume"
        }, {
            fromField: "value",
            toField: "value"
        } ];
    
        dataSet.color = "#00ff00";
        dataSet.dataProvider = chartData;
        dataSet.categoryField = "date";
        dataSet.stockEvents = chartEvents;
        chart.dataSets = [ dataSet ];

        // PANELS                                                
        stockPanel = new AmCharts.StockPanel();
        stockPanel.title = "Value";

        // graph of first stock panel
        var graph = new AmCharts.StockGraph();
        graph.id = "g1";
        graph.type = "candlestick";
        graph.openField = "open";
        graph.closeField = "close";
        graph.highField = "high";
        graph.lowField = "low";
        graph.valueField = "close";
        graph.lineColor = "#000";
        graph.fillColors = "#fff";
        graph.negativeLineColor = "#000";
        graph.negativeFillColors = "#000";
        graph.fillAlphas = 1;
        graph.balloonText = "open:<b>[[open]]</b><br>close:<b>[[close]]</b><br>low:<b>[[low]]</b><br>high:<b>[[high]]</b>";
        graph.useDataSetColors = false;
        stockPanel.addStockGraph( graph );
        chart.panels = [ stockPanel ];

        // OTHER SETTINGS
        var sbsettings = new AmCharts.ChartScrollbarSettings();
        sbsettings.graph = graph;
        sbsettings.graphType = "line";
        sbsettings.usePeriod = "WW";
        chart.chartScrollbarSettings = sbsettings;

        // Enable pan events
        var panelsSettings = new AmCharts.PanelsSettings();
        panelsSettings.panEventsEnabled = true;
        chart.panelsSettings = panelsSettings;

        // CURSOR
        var cursorSettings = new AmCharts.ChartCursorSettings();
        cursorSettings.valueBalloonsEnabled = true;
        cursorSettings.valueLineBalloonEnabled = true;
        cursorSettings.valueLineEnabled = true;
        chart.chartCursorSettings = cursorSettings;

        // PERIOD SELECTOR
        var periodSelector = new AmCharts.PeriodSelector();
        periodSelector.position = "bottom";
        periodSelector.periods = [ {
            period: "DD",
            count: 10,
            label: "10 days"
        }, {
            period: "MM",
            selected: true,
            count: 1,
            label: "1 month"
        }, {
            period: "YYYY",
            count: 1,
            label: "1 year"
        }, {
            period: "YTD",
            label: "YTD"
        }, {
            period: "MAX",
            label: "MAX"
        } ];
    
        chart.periodSelector = periodSelector;
        chart.write( 'chartdiv' );
    }
    
    function addPanel() {
        newPanel = new AmCharts.StockPanel();
        newPanel.allowTurningOff = true;
        newPanel.title = "Volume";
        newPanel.showCategoryAxis = false;

        var graph = new AmCharts.StockGraph();
        graph.valueField = "volume";
        graph.fillAlphas = 0.15;
        newPanel.addStockGraph( graph );

        var legend = new AmCharts.StockLegend();
        legend.markerType = "none";
        legend.markerSize = 0;
        newPanel.stockLegend = legend;

        chart.addPanelAt( newPanel, 1 );
        chart.validateNow();

        document.getElementById( "addPanelButton" ).disabled = true;
        document.getElementById( "removePanelButton" ).disabled = false;
    }

    function removePanel() {
        chart.removePanel( newPanel );
        chart.validateNow();

        document.getElementById( "addPanelButton" ).disabled = false;
        document.getElementById( "removePanelButton" ).disabled = true;
    }
</script>
{% endblock %}