    <div class="tile {{ size }} {{ color }}" data-click="transform">
        <a href="{{ path('es_finance_mystocks_show', { 'id': entity.id }) }}">
            {% if icon %}
            <div class="tile-content icon">
                <i class="{{ icon }}"></i>
            </div>
            {% endif %}
            <div class="tile-content padded fg-white">
                <span class="all-caps bold">{{ entity.symbol }}</span>
                <br />
                <span class="name all-caps"><small>{{ close|number_format(2, ',', '.')  }} {{ coin }}</small></span>
                <br />
                <span class="name all-caps"><small>{{ day_change|number_format(2, ',', '.')  }} {{ coin }} ({{ day_change_percentage|number_format(2, ',', '.')  }}%)</small></span>
            </div>
            <div class="brand">
                <div class="badge-1 {{ badge1 }}"></div>
                <div class="badge-2 {{ badge2 }}"></div>
                <div class="badge-3 {{ badge3 }}"></div>
                <div class="badge-4 {{ badge4 }}"></div>
                <div class="badge-5 {{ badge5 }}"></div>
            </div>
        </a>
    </div>