{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{{ "{% trans %}" }}{{ entity|lower }}.title{{ "{% endtrans %}" }}</h1>
    </blockquote>
    <table class="table hovered">
        <thead>
            <tr>
            {%- for field, metadata in fields %}
                {%- if field != identifier %}
                
                <th>{{ "{%- trans %}" }}{{ field|lower }}{{ "{%- endtrans %}" }}</th>
                {%- endif %}
            {%- endfor %}
                
                <th>{{ "{%- trans %}" }}common.actions{{ "{%- endtrans %}" }}</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for entity in entities %}' }}
            <tr>
        {%- for field, metadata in fields %}
        {%- if field != identifier %}
            {%- if loop.first and ('show' in actions) %}
            
                <td>
                    <a class="shortcut finance-fg-color" href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}
                        <i class="icon-location finance-fg-color on-left"></i>
                    </a>
                </td>
            {%- elseif metadata.type == 'date' %}
               
                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>
            {%- elseif metadata.type == 'datetime' %}
               
                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>
            {%- elseif metadata.type in ['integer'] %}
            
                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|number_format(2, \',\', \'.\') }}{% endif %}' }}</td>
            {%- else %}
            
                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>
            {%- endif %}
            {%- if loop.last %}
            
                <td class="text-center">
                    <a class="button small finance-fg-color" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ "edit" ~ "', { 'id': entity."~ identifier ~" }) }}" }}">
                        <i class="icon-pencil finance-fg-color on-left"></i>
                        {{ "{%- trans %}" }}common.edit{{ "{%- endtrans %}" }}
                    </a>
                    <a class="button small finance-fg-color" href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ "show" ~ "', { 'id': entity."~ identifier ~" }) }}" }}">
                        <i class="icon-eye-2 finance-fg-color on-left"></i>
                        {{ "{%- trans %}" }}common.show{{ "{%- endtrans %}" }}
                    </a>
                </td>
            {%- endif %}
        {%- endif %}
        {%- endfor %}
        
            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>
    <div class="toolbar transparent">
        {% if 'new' in actions %}
        <a class="button" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
            <i class="icon-new on-right"></i>
            &nbsp;{{ "{%- trans %}" }}common.new{{ "{%- endtrans %}" }}
        </a>
        {% endif %}
        <a class="button" href="{{ "{{ path('es_finance_ui_homepage') }}" }}">
            <i class="icon-undo on-right"></i>
            &nbsp;{{ "{%- trans %}" }}common.back{{ "{%- endtrans %}" }}
        </a>
    </div>
    {{ '{{ knp_pagination_render(entities) }}' }}
</div>
{{ "{% endblock %}" }}
{% endblock body %}
