{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{{ "{% trans %}" }}{{ entity|lower }}.title{{ "{% endtrans %}" }}</h1>
    </blockquote>

    <div class="toolbar transparent">
        {{ '{{ form(form) }}' }}
        {% set hide_edit, hide_delete = true, true %}
        {% include 'crud/views/others/record_actions.html.twig.twig' %}

        <a class="button" href="{{ "{{ path('" ~ route_name_prefix ~"')  }}" }}">
            <i class="icon-undo"></i>
            {{ "{% trans %}" }}common.back{{ "{% endtrans %}" }}
        </a>
    </div>
</div>
{{ "{% endblock %}" }}
{% endblock body %}
