{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<div class="finance-form">
    <blockquote class="finance-title">
        <h1>{{ "{% trans %}" }}{{ entity|lower }}.title{{ "{% endtrans %}" }}</h1>
    </blockquote>

    <table class="table hovered">
        <tbody>
        {%- for field, metadata in fields %}

            <tr>
                <th>{{ field|capitalize }}</th>

            {%- if metadata.type in ['date', 'datetime'] %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>
    <div class="toolbar transparent">
{% set hide_edit, hide_delete = false, false %}
{% include 'crud/views/others/record_actions.html.twig.twig' %}
    <a class="button" href="{{ "{{ path('" ~ route_name_prefix ~"')  }}" }}">
        <i class="icon-undo"></i>
        {{ "{% trans %}" }}common.back{{ "{% endtrans %}" }}
    </a>
    </div>
</div>
{{ "{% endblock %}" }}
{% endblock body %}
